header {
    background-color: #9fc19e;
}
.hero-banner {
    background-color: #9fc19e;
}
.accent-color {
    color: #108b5c;
}

#accessibilityMenu.dropdown-toggle::after {
    display: none;
}

html[data-bs-theme="dark"] #hseal {
    filter: invert(1) grayscale(1);
}

html[data-bs-theme="dark"] .accent-color {
    color: #1bf6a1;
}